* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #252525;
  padding: 25px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.products__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 2px rgba(34, 60, 80, 0.2);
}
.products__card img {
  height: 190px;
  align-self: center;
}
.products {
  margin-top: 50px;
}
.products__card a {
  display: block;
  background-color: #0d6efd;
  color: #fff;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.create-product {
  margin-top: 50px;
}
.create-product .container {
  display: flex;
  justify-content: center;
}
.form {
  width: 600px;
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: 0px 1px 10px 2px rgba(34, 60, 80, 0.2);
}
.form__title {
  text-align: center;
  margin-bottom: 20px;
}
.form__container {
  display: flex;
  flex-direction: column;
}

.form__container label {
  margin-bottom: 5px;
  font-size: 18px;
}
.form__input {
  outline: none;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #252525;
  margin-bottom: 15px;
}
.form__container button {
  background-color: #0d6efd;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.search{
    padding:10px; 
    width:100%; 
    margin-bottom:30px; 
    border:1px solid #ccc; 
    border-radius:6px;
}